@import url('https://fonts.googleapis.com/css2?family=EB+Garamond&family=Zen+Old+Mincho:wght@400;700;900&display=swap');
@font-face {
    font-family: Hiragino;
    src: url(../fonts/Hiragino_Kaku_Gothic_Pro.otf);
}

@font-face {
    font-family: Yugothic;
    src: url(../fonts/Yugothic.ttf);
}